/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tirg9q8fwb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tirg9q8fwb] {
  color: #0077cc;
}

/* Initial button styles */
.custom-btn[b-tirg9q8fwb] {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  transition: background-color 0.2s ease, border-color 0.2s ease; /* Smooth transition */
}

.custom-btn:hover[b-tirg9q8fwb] {
  background-color: #00b348;
  border-color: #004085;
}


.nav-pills .nav-link.active[b-tirg9q8fwb], .nav-pills .show > .nav-link[b-tirg9q8fwb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tirg9q8fwb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-tirg9q8fwb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tirg9q8fwb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tirg9q8fwb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-tirg9q8fwb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
