@model TodoItem
<form asp-action="AddItem" method="POST">
<label asp-for="Title">Add a new item:</label>
<input asp-for="Title">
<label asp-for="DueAt"></label>
<input asp-for="DueAt" class="form-control" type="date" />
<span asp-validation-for="DueAt" class="text-danger"></span>
<button type="submit">Add</button>
</form>
